//White Theme
color-menu_p = #fff
color-menu = #607d8b
color-btn-search = #607d8b
color-btn-search-ico = #fff
color-red = rgb(200, 50, 50)

//Dark Theme
/*
color-menu_p = #607d8b
color-menu = #fff
color-btn-search = #fff
color-btn-search-ico = #607d8b
*/

nav 
	ul 
		li 
			text-transform uppercase
.a-footer 
	position relative
.nav-tabs
	background-color #424242
	border-radius 2px

.title 
	text-align center
	background #424242
	color #fff
.btn-search-t
	padding 10px 15px

.shoppingcart
	position absolute
	right 23px
	top 40px
	width 50px
	
.form-product
	padding 20px
.nav-searchbar
	width 100%
	.nav
		li
		.nav-search-field
			height auto
			.navbar-form 
				padding 0px
				margin 0px
				.search-products
					margin 10px 0px
					.search-input
						border-radius 4px 0px 0px 4px
						border 0
						background #fff
						overflow hidden 
						height 35px
						display flex
						align-items center
						
						input
							border 0
							padding-left 10px
							width 100%

					.search-btn
						border-radius 0px 4px 4px 0px
						background-color #febd69
						height 35px
						display flex
						align-items center
						
						.material-icons
							border 0
							background none
							
.icons-nav
	margin 0.2em
.container
	margin-bottom 1em
.products-container
	font-size 14px
	.product
	.product-card 
		margin-top 0.5em;

.product-avatar
	max-width 100%

.no-transform
	text-transform none

.red-text 
	color rgb(200, 50, 50)

.no-padding
	padding 0px
	
.top-space
	margin-top 1em

.large-padding
	padding 10px 15px

.no-margin
	margin 0px
	
.inline-block
	display inline-block

.big-padding
	padding 30px
	h1
		margin 0
		font-weight 400
.margin-bottom
	float right
	padding 0.5em 2em 0em 0em
	a
		.material-icons
			padding 0.5em 0
			font-size 14px
.table-products
	background-color #fff
	width 90%
	margin 0 auto 
	border 1px solid #eee
	thead 
		text-transform uppercase
		tr 
			th 
				padding 20px
	tbody
		tr
			td 
				padding 20px
				a
					.material-icons
						font-size 14px
			.price
				&:before
					content "$ "
.form-horizontal
	.checkbox
		padding-top 0px

.btn-color-green
	background #607d8b
	color #fff

.form-group 
	input[type=file]
		opacity 0
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		width 100%
		height 100%
		z-index 100

.control-label-material
	font-size 16px
	line-height 1.42857143
	color #BDBDBD
	font-weight 400
    
.blue-grey
	background-color #febd69

.btn-new-product
	background-image -webkit-linear-gradient(#f92473,#f9156a 90%,#f91067)
    background-image linear-gradient(#f92473,#f9156a 90%,#f91067)    
.cards	
	float left
	.product-card
		width 100%

.more-products
	font-size 17px
	text-decoration underline
	font-weight 700

.pay-cart
	margin-top 0.5em
	position inline-block
	background #fff
	box-shadow 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	
.total-pay
	padding 0.5em 1em 0.5em 1em
	font-weight 700
	font-size 17px
	span
		color color-red
	
.floating
	position fixed
	bottom 2em
	right 2em
	z-index 100
	
.white-text
	color white
.white
	background-color white
	
.table 
	background-color white

a
	&:hover
		text-decoration none

.fixbottomlading
	position static

.myaccount
	color #607d8b
	padding-left 20px
	padding-top 45px
	padding-right 30px

	.color-apt
		font-size 24px
.absolute
	position absolute
.product-card 
	padding 1em
	font-size 14px
	
	.name 
		font-weight 700
	.price 
		color #b12704!important
		font-weight 700

	.more
		color #0066c0
		font-size 12px

.product
	padding 1em
	position relative
	font-size 14px
	width 90%
	
	a
		font-size 17px
		padding-bottom 10px
		margin 0px
		color #0066c0
		text-decoration none

	.actions
		right 1em
		top 10px
		.material-icons
			font-size 14px
	.row 
		margin-top 1em
	.price
		color color-red
		font-weight 700
		
.sale-data
	padding 1em
	text-align center
	border-right 1px solid #222
	span	
		display block
		font-size 2.2em
		color #3f51b5

.login-register
	padding-top 5px
	background #fff
	border-radius 5px
	margin 20px auto
	width 90%
	ul
		list-style none
		li 
			a 
				&:hover
					text-decoration underline
	a 
		color red

.apt-logo-image
	width 100px

//Menu 
.mdl-grid
	padding 0px 8px 8px 0px
.container-alphatoner
	float none
	width 100%
.menu-alphatoner
	background color-menu
	padding 0px
	width 240px
	float left
	visibility hidden
	position absolute
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
	border-radius 2px

	.alphatoner-navigation
		padding-top 10px
		.alphatoner-navigation__link
			color #fff
			padding 16px 25px
			display block
			text-decoration none
			opacity .87
			&:hover
				background #e0e0e0
				color #607d8b
@media (min-width: 768px) 
	.container-alphatoner
		float right
		width calc(100% - 240px)

	.menu-alphatoner
		visibility visible
		position relative

//Material Design Customize 


	.mdl-layout__header
		    background color-menu_p
		    min-height 76px	
		.mdl-layout__header-row
			height 76px
			
			.mdl-textfield
				.mdl-button
					padding 1em
					background-color color-btn-search
					.material-icons
						color color-btn-search-ico
				.mdl-textfield__expandable-holder
					color color-btn-search
					border-bottom 1px solid color-btn-search
						
		.mdl-layout__drawer-button
			color color-menu
			line-height 76px
	.mdl-layout__drawer
		background #607d8b
		border 0
		.mdl-layout-title
			background #fff
		.mdl-navigation
			.mdl-navigation__link
				color #fff
			.mdl-navigation__link:hover
				color #607d8b
			.logout
				background rgb(200, 50, 50)
	
	.mdl-mega-footer__bottom-section
		padding-left 32px
		.mdl-mega-footer__link-list
			padding-top 20px

	.apt-footer__info
		font-size 12px
		margin 0 auto
		text-align center
		width 100%
		.apt-footer__title
			color red
			text-transform uppercase
		.apt-footer__subtitle
			display inline-block
			text-transform uppercase
			
		.apt-footer__adr
			display block
			
		.apt-footer__dr
			display block
					
section
	h1
		font-size 42px
		font-weight bold
		

