//White Theme
color-menu_p = #fff
color-menu = #607d8b
color-btn-search = #607d8b
color-btn-search-ico = #fff
color-red = rgb(200, 50, 50)

//Dark Theme
/*
color-menu_p = #607d8b
color-menu = #fff
color-btn-search = #fff
color-btn-search-ico = #607d8b
*/

nav 
	ul 
		li 
			text-transform uppercase
.nav-tabs
	background-color #424242

.icons-nav
	margin 0.2em
.container
	margin-bottom 1em
.products-container
	.product
	.product-card 
		margin-top 1em;

.product-avatar
	max-width 100%

.no-transform
	text-transform none

.red-text 
	color rgb(200, 50, 50)

.no-padding
	padding 0px
	
.top-space
	margin-top 1em

.large-padding
	padding 10px 15px

.no-margin
	margin 0px
	
.inline-block
	display inline-block

.big-padding
	padding 30px
	h1
		margin 0
		font-weight 400
.margin-bottom
	float right
	padding 0.5em 2em 0em 0em
	a
		.material-icons
			padding 0.5em 0
			font-size 14px
.table-products
	background-color #fff
	width 90%
	margin 0 auto 
	border 1px solid #eee
	thead 
		text-transform uppercase
		tr 
			th 
				padding 20px
	tbody
		tr
			td 
				padding 20px
				a
					.material-icons
						font-size 14px
.blue-grey
	background-color #607d8b

.btn-new-product
	background-image -webkit-linear-gradient(#f92473,#f9156a 90%,#f91067)
    background-image linear-gradient(#f92473,#f9156a 90%,#f91067)    
.cards	
	float left
	max-width 70%
	.product-card
		width 100%

.more-products
	font-size 17px
	text-decoration underline
	font-weight 700

.pay-cart
	margin-top 1em
	width 25%
	float right
	position inline-block
	z-index 100
	background #fff
	box-shadow 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	
.total-pay
	padding 1em 1em 0.5em 1em
	font-weight 700
	font-size 17px
	span
		color color-red
	
.floating
	position fixed
	bottom 2em
	right 2em
	z-index 100
	
.white-text
	color white
.white
	background-color white
	
.table 
	background-color white

a:hover
	text-decoration none

.fixbottomlading
	position static

.myaccount
	color #607d8b
	padding-left 20px
	padding-top 45px
	padding-right 30px

	.color-apt
		font-size 24px
.absolute
	position absolute
.product-card 
	padding 1em
	.name 
		font-size 17px
		font-weight 700
	.price 
		font-size 17px
		color #b12704!important
		font-weight 700

	.more
		color #0066c0
		font-size 12px
		
.product
	width 600px
	max-width 100%
	padding 1em
	position relative
	h1
		padding-bottom 10px
		border-bottom solid 1px
	.actions
		right 1em
		top 10px
		
.sale-data
	padding 1em
	text-align center
	border-right 1px solid #222
	span	
		display block
		font-size 2.2em
		color #3f51b5

.login-register
	padding-top 5px
	background #fff
	border-radius 5px
	margin 20px auto
	width 90%
	ul
		list-style none
		li 
			a 
				&:hover
					text-decoration underline
	a 
		color red

.apt-logo-image
	width 100px

//Material Design Customize 

	.mdl-layout__header
		    background color-menu_p
		    min-height 76px	
		.mdl-layout__header-row
			height 76px
			
			.mdl-textfield
				.mdl-button
					padding 1em
					background-color color-btn-search
					.material-icons
						color color-btn-search-ico
				.mdl-textfield__expandable-holder
					color color-btn-search
					border-bottom 1px solid color-btn-search
						
		.mdl-layout__drawer-button
			color color-menu
			line-height 76px
	.mdl-layout__drawer
		background #607d8b
		border 0
		.mdl-layout-title
			background #fff
		.mdl-navigation
			.mdl-navigation__link
				color #fff
			.mdl-navigation__link:hover
				color #607d8b
			.logout
				background rgb(200, 50, 50)
	
	.mdl-mega-footer__bottom-section
		padding-left 32px
		.mdl-mega-footer__link-list
			padding-top 20px

	.apt-footer__info
		font-size 12px
		margin 0 auto
		text-align center
		width 100%
		.apt-footer__title
			color red
			text-transform uppercase
		.apt-footer__subtitle
			display inline-block
			text-transform uppercase
			
		.apt-footer__adr
			display block
			
		.apt-footer__dr
			display block
					
section
	h1
		font-size 42px
		font-weight bold
